body {
	background-image: linear-gradient(to left, #add8e6, #b3d5e0, #fafdfe);
	font-family: verdana, genenva, arial, sans-serif;
  }
  
  #divTitulo {
	padding-bottom: 0.8em;
  }
  
  #divTitulo #titulo {
	margin-bottom: 0.3em;
  }
  
  input {
	padding: 3px;
	margin: 4px;
	border: 2px solid black;
	border-radius: 6%;
	box-shadow: 2px 2px #2f4f4f;
	cursor: pointer;
  }
  
  label {
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 1.5rem;
  }
  
  #textbox {
	margin: 2px;
	border: 3px solid black;
	box-shadow: 2px 2px #2f4f4f;
  }
  
  input:focus {
	border-color: blue;
	outline-style: groove;
	outline-color: blue;
  }
  
  #imagem:hover {
	cursor: pointer;
  }
  
  #divTitulo #informativo {
	font-size: 0.7em;
  }
  
  #gera-relatorio {
	width: 260px;
	height: 50px;
	margin-bottom: 4px;
	margin-top: 5px;
	border: 3px solid black;
	border-radius: 4%;
	font-size: 21px;
	font-weight: bold;
	text-shadow: 1px 1px 1px 1px #fafdfe;
	background-color: #fafdfe;
	box-shadow: 2px 2px #2f4f4f;
	cursor: pointer;
  }
  
  #gera-relatorio:hover {
	width: 265px;
	height: 60px;
	font-size: 1.5em;
	box-shadow: 0;
	outline-style: groove;
	outline-color: blue;
  }
  
  #botaoReset {
	width: 250px;
	height: 30px;
	text-align: center;
	margin-bottom: 15px;
  }
  
  #botaoReset:hover {
	width: 253px;
	height: 33px;
	font-size: 1.1em;
	outline-style: groove;
	outline-color: blue;
  }
  
  #copiar {
	width: 5em;
	border: none;
	background-color: rgb(179, 213, 224, 0.3);
  }
  
  #copiar:hover {
	cursor: pointer;
  }
  
  #divRelatorio {
	  display: flex;
  }

  #relatorioTabulado {
    display: flex;
    flex-flow: wrap;
    gap: 0px;
    width: 480px;
  
  }

  .containerRelatorio{
    width: 50%;
  }
  
  .headerRelatorio {
    text-align: center;
    border: 2px solid black;
    width: 230px;

  }
  
  .informacoesRelatorio{
    border: 2px solid black;
    text-align: center;
    width: 230px;

  }
    
  .imagem {
	 display: flex;
	 margin: auto;
	 width: 188px;
	 height: 188px;
  }